@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sf-bold: "SF Arabic Bold", sans-serif;
  --font-sf-med: "SF Arabic Medium", sans-serif;
  --font-sf-light: "SF Arabic Light", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

button {
  transition: all 0.3s ease;
}
button:hover {
  scale: 95%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.open {
  animation: OpenAni 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

.close {
  animation: CloseAni 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

.open-overlay {
  animation: openOverlay 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

@keyframes openOverlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes OpenAni {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(-50%) scale(0.5);
    filter: blur(30px);
  }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

@keyframes CloseAni {
  0% {
    display: block;
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20%) scale(0.8);
    filter: blur(10px);
  }
}
